.upvote_button, .downvote_button, .upvote_button_black,
	.downvote_button_black {
	position: relative;
	cursor: pointer;
	width: 18px;
	height: 18px;
	border: none;
}

.upvote_button {
	background: url("./../images/up.png") no-repeat;
}

.downvote_button {
	background: url("./../images/down.png") no-repeat;
}

.upvote_button_black {
	background: url("./../images/upblack.png") no-repeat;
}

.downvote_button_black {
	background: url("./../images/downblack.png") no-repeat;
}

.votingtable {
	padding: 0;
}

.votingtable>table>tbody>tr>td {
	padding-right: 2px;
	padding-left: 2px;
	font-size: 20px;
	font-weight: bold;
}