
body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background-image: url("./../images/NYWebsiteBackground.png");
/* 	background-opacity: 0.6; */
	color: #534d53;
}

.main_div {
	padding: 15px;
}


table{
    table-layout: fixed;
    width: 800px;
}

.bannedReason {
	max-width: 10px;
	
}

.footer {
	color: white;
}

/* .navbar { */
/* 	background-color: transparent; */
/*    background: transparent; */
/* /*    border-color: transparent; */ */
	
/* } */





/* input { */
/* 	color: black; */
/* } */

/* h1 { */
/* 	font-family: verdana; */
/* 	padding: 2rem; */
/* } */

/* div.main_div { */
/* 	text-align: center; */
/* } */

/* #label { */
/* 	color: white; */
/* } */

/* .tg { */
/* 	border-collapse: collapse; */
/* 	border-spacing: 0; */
/* 	margin: 0px auto; */
/* 	align: center; */
/* } */

/* .tg td { */
/* 	font-family: Arial, sans-serif; */
/* 	font-size: 14px; */
/* 	padding: 10px 5px; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	overflow: hidden; */
/* 	word-break: normal; */
/* } */

/* .tg th { */
/* 	font-family: Arial, sans-serif; */
/* 	font-size: 14px; */
/* 	font-weight: normal; */
/* 	padding: 10px 5px; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	overflow: hidden; */
/* 	word-break: normal; */
/* } */

/* .tg .tg-bold { */
/* 	font-weight: bold; */
/* 	background-color: #000000; */
/* 	color: #ffffff */
/* } */

/* .tg .tg-normal { */
/* 	background-color: #000000; */
/* 	color: #ffffff */
/* } */