body {
	position: relative;
	margin: 0 0 100px;
	padding-bottom: 6rem;
	min-height: 100%;
	background-image: url("./../images/NYWebsiteBackground.png");
	/* 	background-opacity: 0.6; */
	background: window 100% background-repeat: repeat-y;
	color: #534d53;
	margin-bottom: 10%;
}

#forumLogo {
	width: 20%;
	min-width: 250px;
}

.main_div {
	padding: 15px;
}

/* table{ */
/*     table-layout: fixed; */
/*     width: 800px; */
/* } */
.bannedReason {
	max-width: 10px;
}

.footer {
	color: white;
}

.block_button, .unblock_button, .marknonpublic_button,
	.markpublic_button, .promote_button {
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 0px 0 0 #444;
	color: #444;
	display: inline-block;
	width: 91px;
	height: 24px;
	font: normal 400 15px/24px "Open Sans", sans-serif;
	text-align: center;
	text-shadow: 0px 0px 0 #000;
}

.block_button {
	background: #ff7070;
	background: -webkit-linear-gradient(#ff7070, #fff);
	background: linear-gradient(#ff7070, #fff);
}

.unblock_button {
	background: #79da58;
	background: -webkit-linear-gradient(#79da58, #fff);
	background: linear-gradient(#79da58, #fff);
}

.marknonpublic_button {
	background: #c3c3c3;
	background: -webkit-linear-gradient(#c3c3c3, #fff);
	background: linear-gradient(#c3c3c3, #fff);
}

.markpublic_button {
	background: #6fa7f7;
	background: -webkit-linear-gradient(#6fa7f7, #fff);
	background: linear-gradient(#6fa7f7, #fff);
}

.promote_button {
	background: #fafa7e;
	background: -webkit-linear-gradient(#fafa7e, #fff);
	background: linear-gradient(#fafa7e, #fff);
}

.blockReasonText {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

.pubclassfalse {
	background: repeating-linear-gradient(
	  -45deg,
	  #ffffff,
	  #ffffff 10px,
	  #e6f5ff 10px,
	  #e6f5ff 20px);
}

.blockedentity {
	background: repeating-linear-gradient(
	  45deg,
	  #f2f2f2,
	  #f2f2f2 10px,
	  #ffffe6 10px,
	  #ffffe6 20px);
}

li.blockedentity {
	border-radius: 3px;	
	border: 1px solid #ffff4d;
}


.removetopic_button {
	background: #79da58;
	background: -webkit-linear-gradient(#79da58, #fff);
	background: linear-gradient(#79da58, #fff);
}

html {
    position: relative;
    min-height: 100%;
}


}
footer {
    position: relative;
    z-index: 1;
/*     left: 0; */
/*     bottom: 0; */
/*     right: 0; */
/*     height: 10%; */
/*     margin-bottom: 0; */
/*     margin-bottom: fixed; */
/*     text-align: center; */

/*     height: 100px; */
/*     width: 100%; */
}



