<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Login Form</title>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<form method='post'>
		<div class="main_div">
			<h1>F &middot; O &middot; R &middot; U &middot; M</h1>
			<label id="label">Log in:</label>
			<br> <br>
			<input type="text" required="required" id="user_login" placeholder="Nick Name" autofocus> 
			<br> <br> 
			<input type="password" required="required" id="user_pass" placeholder="Password"> 
			<br> <br> <br>
			<input type="submit" value="Submit">
			<br> <br>
			<label id="label">Not registered yet? &middot; </label> <a href="regform.html">Registration</a>
			<br>
			<a href="welcome.html">Back to welcome page</a>
			
		</div>
	</form>
</body>
</html>