<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Registration Form</title>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<form method='post'>
		<div class="main_div">
			<h1>F &middot; O &middot; R &middot; U &middot; M</h1>
			<label id="label">New User Registration:</label>
			<br> <br>
			<input type="text" required="required" id="reg_login" placeholder="Nick Name" autofocus> 
			<br> <br> 
			<input type="email" required="required" id="reg_email" placeholder="E-mail"> 
			<br> <br> 
			<input type="date of birth" required="required" id="reg_birthdate" placeholder="Date of birth"> 
			<br> <br> 
			<input type="password" required="required" id="reg_pass1" placeholder="Password"> 
			<br> <br> 
			<input type="password" required="required" id="reg_pass2" placeholder="Re-Type Password" onkeyup="checkPass();"> 
			<br>
			<span id="confirmMessage" class="confirmMessage"></span>
			<br> <br>
			<input type="submit" value="Submit">
			<br> <br>
			<label id="label">Already registered? &middot; </label> <a href="login.html">Login</a>
			<br>
			<a href="welcome.html">Back to welcome page</a>

		</div>
	</form>
</body>
</html>