<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Welcome Page</title>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<div class="main_div">
		<h1>F &middot; O &middot; R &middot; U &middot; M</h1>
			<label id="label">Already registered? &middot; </label> <a href="login.html">Login</a>
			<br>
			<label id="label">Not registered yet? &middot; </label> <a href="regform.html">Registration</a>
			<br> <br>
			<table class="tg">
			  <tr>
				<th class="tg-bold">Name</th>
				<th class="tg-bold">Password</th>
				<th class="tg-bold">E-Mail</th>
				<th class="tg-bold">Role</th>
				<th class="tg-bold">Topics</th>
				<th class="tg-bold">Blocked</th>
			  </tr>
			  <tr>
				<td class="tg-normal">Ferko</td>
				<td class="tg-normal">somsuper</td>
				<td class="tg-normal">ferko@gmail.com</td>
				<td class="tg-normal">admin</td>
				<td class="tg-normal">kvietky vcielky</td>
				<td class="tg-normal">nie</td>
			  </tr>
			</table>
			
	</div>
</body>
</html>